<div class="row">
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <h4>Probem Archive</h4>
        <table>
          <thead>
            <tr>
              <th>Problem Name</th>
              <th width="200">Problem Type</th>
              <th width="150">Start Code</th>
              <th width="150">Solution</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Three Card Monte</td>
              <td>Beginner</td>
              <td><a href="http://pastebin.com/3DrJH3dt" target="_blank">Start Code</a></td>
              <td> - </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


 <% if !user_signed_in? %>
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <div class="five columns">
            <%= render "devise/registrations/new" %>
          </div>
          <div class="seven columns">
            <div class="panel">
              <%= image_tag("http://s16.postimg.org/pnkxx692t/CSUC_ACM_2012.jpg") %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
